<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Embedded Template</title>
    </head>
    <body>
        <h1>Overview content</h1>
        <%- contents %>
    </body>
</html>